@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Poppins', sans-serif;
		scroll-behavior: smooth;
	}
	body {
		::-moz-selection {
			/* Code for Firefox */
			color: #fff;
			background: #db2777;
		}

		::selection {
			color: #fff;
			background: #db2777;
		}
	}
}

.projects {
	.swiper {
		padding-bottom: 100px;
		.swiper-wrapper {
			z-index: 51;
		}
		.swiper-scrollbar {
			background-color: #fff;
			bottom: 55px;
			transform: scaleX(.98);
			overflow: hidden;
			&-drag {
				background-color: #db2777;
				&::before {
					position: absolute;
					content: '';
					top: 0;
					bottom: 0;
					width: 100vw;
					right: 99%;
					background-color: #db2777;
				}
			}
		}
		.swiper-button-next, .swiper-button-prev {
			top: auto;
			bottom: 35px;
			z-index: 52;
			backdrop-filter: blur(3px);
			&::after {
				font-size: 1.4rem;
				color: #fff;
			}
		}
		.swiper-button-next {
			right: -7px;
		}
		.swiper-button-prev {
			left: -7px;
		}
	}
}

@keyframes waChar {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.wa {
	display: inline-block;	
}
.wa__char {
	opacity: 0;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	display: inline-block;
}

.animate__animated {
	opacity: 0;
	animation-fill-mode: forwards;
}


@keyframes fadeInUpSmall {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 30%, 0);
		transform: translate3d(0, 30%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.animate__fadeInUpSmall {
	-webkit-animation-name: fadeInUpSmall;
	animation-name: fadeInUpSmall;
}